h1 {
    color: rgb(0, 0, 0);
}
p {
    color: aqua;
    background-color: yellow;
    font-style: italic;
    text-align: center;
    text-decoration: line-through;
    width: 50%;
    height: 400px;
    overflow: hidden;
}